.the-best{
   

    border-radius: 4rem;
    width: fit-content;
    padding: 20px 16px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}
.the-best>span{
    z-index: 2;

}
.the-best>div{
    position: absolute;
    background-color: #4CAF50;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 2;

}

@keyframes moveAnimation {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .move {
    width: 20px; 
    height: 20px; 
   
    animation: moveAnimation 2s linear infinite alternate; 
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animated-text {
    animation: fadeIn 1s ease-in-out;
  }
  
  